.horrizontal-center-align {
  width: 600px;
  height: 200px;
  margin: 0 auto; 
}

.message {
  border-style: solid;
  border-width: 2px;
  padding: 8px;
  border-color: grey;
  overflow-y: scroll;
}

.true-center-align {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  text-align: center;
}

.bottom {
  max-height: 140px;
  width: 96%;
  position: fixed;
  bottom: 0;
  display: block;
  margin-left: 4px;
  margin-bottom: 12px;
}

.tool, .powerup {
  width: 175px;
  padding: 5px;
  font-size: 12;
  margin-bottom: 5px;
  margin-left: 3px;
  position: relative;
  float: left;
}

.tool {
  border: 2px dashed grey;
}

.powerup {
  border: 2px dashed goldenrod;
}

.tool:hover, .powerup:hover {
  cursor: pointer;
}

.tool:hover {
  background-color: lightgrey;
}

.powerup:hover {
  background-color: #fafad2;
}

.upgrades {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  border: 2px lightskyblue;
  border-style: double;
}

.advert {
  position: fixed;
  top: 25%;
  left: 90%;
  width: 150px;
  height: 850px;
}