.horrizontal-center-align {
  width: 600px;
  height: 200px;
  margin: 0 auto; 
}

.message {
  border-style: solid;
  border-width: 2px;
  padding: 8px;
  border-color: grey;
  overflow-y: scroll;
}

.true-center-align {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  text-align: center;
}

.bottom {
    height: 250px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: block;
}

.tool, .powerup {
  width: 175px;
  padding: 5px;
  font-size: 12;
  margin-bottom: 5px;
  position: relative;
}

.tool {
  border: 2px dashed grey;
}

.powerup {
  border: 2px dashed goldenrod;
}

.tool:hover, .powerup:hover {
  cursor: pointer;
}

.tool:hover {
  background-color: lightgrey;
}

.powerup:hover {
  background-color: #fafad2;
}

.advert {
  position: fixed;
  top: 50%;
  left: 100%;
  width: 150px;
  height: 850px;
}